.main-container {
  min-width: 320px; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  font-family: Montserrat, sans-serif; }

.btn {
  display: block;
  align-self: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold; }
  .btn_violet {
    background-color: #8d81ac;
    border: 2px solid #8d81ac; }
  .btn_violet:hover {
    color: #8d81ac;
    background: #fff; }
  .btn_download {
    margin: 0 auto;
    width: 390px;
    padding: 20px;
    border-radius: 31px; }

@media screen and (max-width: 480px) {
  .btn_download {
    width: 290px; } }

.footer {
  background-color: #f4f4f4; }

.footergrid__header {
  display: grid;
  grid-template-areas: "title username phone callme";
  padding: 0 90px; }
  .footergrid__header > * {
    align-self: center; }
  .footergrid__header-title {
    grid-area: title;
    color: #635c73;
    font-size: 30px;
    font-weight: 700; }
  .footergrid__header > input {
    min-width: 150px;
    height: 44px;
    border-radius: 22px;
    border: none;
    background-color: #fff;
    margin: 45px 10px;
    padding-left: 25px; }
  .footergrid__header > input::-webkit-input-placeholder {
    font-size: 14px;
    color: #c8cbcf; }
  .footergrid__header > input:-ms-input-placeholder {
    font-size: 14px;
    color: #c8cbcf; }
  .footergrid__header > input::-ms-input-placeholder {
    font-size: 14px;
    color: #c8cbcf; }
  .footergrid__header > input::placeholder {
    font-size: 14px;
    color: #c8cbcf; }
  .footergrid__header-username {
    grid-area: username; }
  .footergrid__header-phone {
    grid-area: phone; }
  .footergrid__header-email {
    display: none;
    grid-area: email; }
  .footergrid__header-callme {
    grid-area: callme;
    width: 140px;
    height: 44px;
    margin: 0 10px;
    font-size: 13px;
    color: #fff;
    border-radius: 22px;
    text-transform: uppercase; }
  .footergrid__header-callme:hover {
    cursor: pointer; }

.footergrid__white-container {
  background-color: #fff;
  display: grid;
  grid-template-areas: "forkio nav contacts info";
  padding: 60px 25px; }

.footergrid__forkio {
  grid-area: forkio;
  margin-bottom: 35px; }
  .footergrid__forkio-logo {
    float: left;
    background-size: 100%;
    height: 42px;
    width: 45px;
    background-image: url("/dist/img/Logo.svg"); }
  .footergrid__forkio > a {
    display: block;
    text-transform: uppercase;
    line-height: 45px;
    font-weight: 500;
    font-size: 24px; }
  .footergrid__forkio > a:hover > .footergrid__forkio-logo {
    background-image: url("/dist/img/logo-black.png"); }
  .footergrid__forkio > a:hover > .footergrid__forkio-name1 {
    color: #8d81ac; }
  .footergrid__forkio-name1 {
    color: #000;
    padding-left: 14px; }
  .footergrid__forkio-name2 {
    color: #000;
    margin-left: -4px; }
  .footergrid__forkio-text {
    margin-top: 23px; }

.footergrid__nav {
  grid-area: nav;
  margin-left: 86px;
  margin-bottom: 43px; }
  .footergrid__nav-title {
    color: #323232;
    font-weight: 500;
    padding-bottom: 23px; }
  .footergrid__nav > ul {
    list-style: none; }
  .footergrid__nav-item {
    color: #8d81ac;
    font-size: 15px; }
    .footergrid__nav-item:hover {
      text-decoration: underline;
      cursor: pointer; }

.footergrid__contacts {
  grid-area: contacts;
  margin-left: 90px; }
  .footergrid__contacts-phone {
    margin-bottom: 38px; }

.footergrid__info {
  grid-area: info;
  margin-left: 81px; }
  .footergrid__info-header {
    color: #323232;
    font-size: 16px;
    padding-left: 52px; }
  .footergrid__info-content {
    margin-top: 23px;
    color: #848e97;
    font-size: 14px; }

.phone-num {
  color: #3f3f3f;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 15px; }

.phone-rem {
  color: #848e97;
  text-transform: uppercase; }

.address-city {
  color: #323232;
  font-size: 16px; }

.address-str {
  margin-top: 20px;
  color: #848e97;
  font-size: 14px; }

.t2 {
  display: none; }

.t1 {
  display: block; }

@media (max-width: 992px) {
  .footergrid__header {
    padding: 0 20px;
    grid-template-areas: "title title" "username phone" "callme callme"; }
    .footergrid__header-title, .footergrid__header-callme {
      justify-self: center; }
    .footergrid__header > input {
      margin: 28px 17px 25px 17px; }
    .footergrid__header-title {
      margin-top: 26px; }
    .footergrid__header-callme {
      margin-bottom: 30px; }
  .footergrid__white-container {
    grid-template-areas: "forkio nav" "contacts info";
    padding: 22px 35px; }
  .footergrid__contacts {
    margin-left: 0px; }
  .footergrid__nav, .footergrid__info {
    margin-left: 35px; } }

@media (max-width: 604px) {
  .footergrid__header {
    grid-template-columns: 1fr 1fr; }
    .footergrid__header > input {
      margin: 28px 5px 25px 5px; } }

@media (max-width: 479px) {
  .footergrid__header {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "username" "phone" "callme"; }
    .footergrid__header-title {
      font-size: 28px;
      text-align: center;
      margin-bottom: 43px; }
    .footergrid__header > input {
      margin: 10px; }
    .footergrid__header-callme {
      margin-top: 13px; }
  .footergrid__white-container {
    grid-template-areas: "forkio" "nav" "contacts" "info"; }
  .footergrid__nav {
    margin-left: 0px; }
  .footergrid__info {
    margin-left: 0px;
    margin-top: 39px; }
    .footergrid__info-header {
      padding-left: 0px; }
  .t2 {
    display: block; }
  .t1 {
    display: none; } }

@media (max-width: 399px) {
  .footergrid__header {
    padding: 0 10px; }
    .footergrid__header > input {
      margin: 10px 0 10px 0; } }
