.here {
  padding: 0 10px;
  background-color: #f4f4f4; }
  .here-content {
    padding-top: 20px;
    position: relative;
    font-family: Montserrat; }
  .here .wrapper {
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 60%; }
    .here .wrapper__title {
      display: block;
      position: absolute;
      right: 120px;
      margin-left: 25px;
      font-size: 48px;
      color: #8d81ac;
      font-weight: 700; }
    .here .wrapper__img {
      margin-top: 50px;
      background-repeat: no-repeat;
      background-image: url("/img/editor_.png");
      min-width: 715px;
      max-width: 975px;
      height: 520px; }

.topics {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; }
  .topics__topic {
    margin-top: 20px;
    display: -webkit-box;
    display: flex;
    color: #323232; }
    .topics__topic-title {
      font-weight: 400;
      font-size: 16px;
      color: #323232; }
    .topics__topic-content {
      font-size: 14px;
      color: #848e97; }
    .topics__topic-img > div {
      display: block;
      min-width: 111px;
      min-height: 90px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .topics__topic-item {
      margin-left: 10px; }

.topic1-img {
  background-image: url("/img/topic1.png"); }

.topic2-img {
  background-image: url("/img/topic2.png"); }

.topic3-img {
  background-image: url("/img/topic3.png"); }

.topic4-img {
  background-image: url("/img/topic4.png"); }

@media screen and (max-width: 993px) {
  .here .wrapper {
    flex-wrap: wrap; }
    .here .wrapper__title {
      position: static;
      right: 0;
      margin-left: 0;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      font-size: 42px;
      text-align: center; } }

@media screen and (max-width: 480px) {
  .topics__topic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    .topics__topic-item {
      margin-top: 20px; } }
