.here {
  background-color: #eeeeef; }
  .here-content {
    padding-top: 20px;
    position: relative; }
  .here .wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 'topics title'		 'topics image' 'topics image' 'topics image'; }
    .here .wrapper__title {
      grid-area: title;
      margin: 0;
      font-size: 48px;
      color: #8d81ac;
      font-weight: 700; }
    .here .wrapper__right {
      grid-area: image;
      overflow: hidden; }

.topics {
  grid-area: topics; }
  .topics__topic {
    display: -webkit-box;
    display: flex;
    color: #323232; }
    .topics__topic-title {
      margin: 0 0 10px 0;
      font-size: 16px;
      color: #323232; }
    .topics__topic-content {
      font-size: 14px;
      color: #848e97; }
    .topics__topic-img {
      display: block;
      min-width: 130px; }
    .topics__topic-item {
      margin: 0 30px; }

.topic__img {
  display: block;
  width: auto;
  height: 90px;
  margin: auto; }

@media screen and (max-width: 993px) {
  .here .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 'title'		 'topics' 'topics' 'topics' 'image'; }
    .here .wrapper__title {
      font-size: 42px;
      text-align: center; }
  .topics {
    margin-top: 20px; } }

@media screen and (max-width: 480px) {
  .topics__topic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    .topics__topic-item {
      margin-top: 20px; } }

@media screen and (max-width: 400px) {
  .here .wrapper__title {
    font-size: 32px; } }
