@import 'vars.scss';

.about-us{

	text-align: center;
	background: url('/dist/img/bg-img-header.png') center no-repeat #000;
	padding-bottom: 453px;	
	position: relative;

	.container{
		display: flex;
		justify-content: center;
	}

	&__title{
		font-size: 76px;
		font-weight: bold;
		color: #fff;
		margin: 30px 0 0 0;
	}

	&__slogan{
		color: $primary-color;
		font-family: $font-lato;
		font-size: 30px;
		margin: 18px 0 0 0;
	}

	&__small{
		&-info{
			text-transform: uppercase;
			margin: 18px 0 0 0;
			color: $small-text-color;
			font-size: 16px;
		}
	}

}

.b-download-btn{
	color: $small-text-color;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 75%);
	&__info{
		padding-top: 13px;
		color: #848e97;
	}
}

@include adaptWhenWidthIs($width480)	{	
	.about-us{
		&__title{
			font-size: 48px;
		}

		&__slogan{
			line-height: 40px;
		}

		&__slogan{
			font-size: 18px;
			padding: 0 40px;
		}
		&__small{
			&-info{
				padding: 18px 0 400px 0;
				font-size: 14px;
			}
		}
	}
}