@import 'main.scss';
@import 'vars.scss';

.footer {

	background-color: #f4f4f4;

	&__content {
		font-family: Montserrat, sans-serif;
	}
}

.footergrid {

	&__header {
		display: grid;
		grid-template-areas: 
    		"title username phone callme";	

		padding: 0 90px;
		
		& > * {
			align-self: center;
		}	

		&-title {
			grid-area: title;
			color: $text-color-header;
			font-size: 30px;	
			font-weight: 700;
		}

		&>input {
			min-width: 150px;
			height: 44px;
			border-radius: 22px;
			border: none;
			background-color: #fff;
			margin: 45px 10px; 
			padding-left: 25px;
		}

		&>input::placeholder {
			font-size: 14px;
			color: #c8cbcf;
		}	

		&-username {
			grid-area: username;
		}

		&-phone {
			grid-area: phone;
		}

		&-email {
			display: none;
			grid-area: email;
		}

		&-callme{
			grid-area: callme;
			width: 140px;
			height: 44px;
			margin: 0 10px; 
			font-size: 13px;
			color: #fff;
			border-radius: 22px;
			text-transform: uppercase;
		}

		&-callme:hover {
			cursor: pointer;
		}
	}

	&__white-container{
		background-color: #fff;
		display: grid;
		grid-template-areas: 
    		"forkio nav contacts info";

		padding: 60px 25px;
	}

	&__forkio {

		grid-area: forkio;
		margin-bottom: 35px;

		&-logo{
			float: left;
			background-size: 100%;
			height: 42px;
			width: 45px;		
			background-image: url('../../img/Logo.svg');
				
		}

		&> a {
			display: block;
			text-transform: uppercase;
			line-height: 45px;
			font-weight: 500;
			font-size: 24px;
		}

		& > a:hover > &-logo {
			background-image: url('../../img/logo-black.png');
		}

		& > a:hover > &-name1 {
			color: $primary-color;
		}

		&-name1{
			color: #000;			
			padding-left: 14px;
		}

		&-name2{
			color: #000;			
			margin-left: -4px;
		}

		&-text{
			margin-top: 23px;
		}
	}
	
	&__nav {
		grid-area: nav;
		margin-left: 86px;
		margin-bottom: 43px; 
		&-title{
			color: $text-color-grey;
			font-weight: 500;			
			padding-bottom: 23px;
		}
		& > ul{
			list-style: none;
		}
		&-item{
			color: $primary-color;
			font-size: 15px;

			&:hover{
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}

	&__contacts {
		grid-area: contacts;
		margin-left: 90px;
		&-phone{
			margin-bottom: 38px;
		}
	}


	&__info {
		grid-area: info;
		margin-left: 81px;
		&-header{
			color: $text-color-grey;
			font-size: 16px;
			padding-left: 52px;
		}

		&-content{
			margin-top: 23px;
			color: $small-text-color;
			font-size: 14px;
		}
	}
}

.phone{
	&-num{
		color: #3f3f3f;
		font-weight: 800;
		font-size: 30px;
		margin-bottom: 15px; 
	}

	&-rem{
		color: $small-text-color;
		text-transform: uppercase;
	}
}

.address{
	&-city{
		color: $text-color-grey;
		font-size: 16px;
	}
	&-str{
		margin-top: 20px;
		color: $small-text-color;
		font-size: 14px; 
	}
}

.t2{
	display: none ;
}
.t1{
	display: block ;
}

@media screen and (max-width: 993px){
	.footergrid{
		&__header{		
			padding: 0 20px;	 
			grid-template-areas: 
			"title title"
			"username phone"
			"callme callme";	

			&-title, &-callme {
				justify-self: center;
			}	

			& > input {
				margin: 28px 17px 25px 17px;
			}

			&-title{
				margin-top: 26px;
			}

			&-callme{
				margin-bottom: 30px;
			}
		}

		&__white-container{
			grid-template-areas: 
    			"forkio nav"
    			"contacts info";

    		padding: 22px 35px;	
		}

		&__contacts {
			margin-left: 0px;
		}

		&__nav, &__info {
			margin-left: 35px;
		}
	}
}

@media screen and (max-width: 600px){
	.footergrid{
		&__header{		
			grid-template-columns: 1fr 1fr;

			& > input {
				margin: 28px 5px 25px 5px;
			}
		}
	}
}

@media screen and (max-width: 480px){
	.footergrid{

		&__header{		
			grid-template-columns: 1fr; 
			grid-template-areas: 
			"title"
			"username"
			"phone"
			"callme";	


			&-title{
				font-size: 28px;
				text-align: center;	
				margin-bottom: 43px; 		
			}

			& > input {
				margin: 10px;
			}

			&-callme{
				margin-top: 13px;
			}
		}

		&__white-container{
			grid-template-areas: 
    			"forkio"
    			"nav"
    			"contacts"
    			"info";
    	}

    	&__nav {
			margin-left: 0px;
		}

    	&__info {
			margin-left: 0px;
			margin-top: 39px; 
			&-header{
				padding-left: 0px;
			}
		}
	}	

	.t2{
			display: block ;
		}
	.t1{
			display: none ;
		}

}

@media screen and (max-width: 400px){
	.footergrid{

		&__header{		
			
			padding: 0 10px;

			& > input {
				margin: 10px 0 10px 0;
			}
		}
	}		
}
