@import 'vars.scss';

.main-container{
	max-width: 1200px;
	min-width: 320px;
	margin: 0 auto;	
}

.header{
	color: $primary-color;
	background-color: #27262a;	
	
	.container{
		margin: 0 90px;
	}

	&__content{
		padding:  33px 0;
		a:link{
			text-decoration: none;
		}			
	}	

	&__logo{
		display: flex;
		justify-content: center;
		align-items: center; 
	}

	&__flex{
		&-wrapper{
			display: flex;
			justify-content: space-between;
			text-align: center;			
			ul>li> a:hover, h2:hover {
				color: white;
			}
		}
	}

	&__burger-menu{
		order : 1;
		display: flex;
		flex-shrink: 0;
		margin-left: auto; 
//		display: none;
		cursor: pointer; 
		color: $primary-color;
		text-align: center;	
		font-size: 32px;	
	}
}

.menu{	
	// order : 1;
	display: flex;
	min-width: 320px;
	align-items: center;
	margin-right: 20px; 
	font-weight: bold;

	li:first-child {
		display: none;
	}

	li{
		list-style-type: none; 
	}

	&__link{
		font-family: Montserrat;
		font-size: 16px;
		color: $primary-color;
		padding: 0 10px;
	}
}

.logo{
	&__test{
		margin-left: 30px;
		float: right;
		color: $primary-color;
		font-weight: bold;	
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		font-size: 24px;
	}	

	&__logo{

		&-img{
			float: left;
			background-size: 100%;
			height: 29px;
			width: 29px;		
			background-image: url('../../img/Logo.svg');
		}

		&-img:hover{
			background-image: url('../../img/LogoHover.png');
		}
	}
}

@media screen and (max-width: 993px){
	.header{
		.container{
			margin: 0 20px; 
		}

		&__flex-wrapper{
			display: flex;
			flex-wrap: wrap;
		}

		&__logo{
			order: 1;
		}
		&__burger-menu{
			order: 4;	
		}
	}

	.menu{
		margin: 40px  220px 0 0;
	}
}

@media screen and (max-width: 768px){
	.menu{
		&__link{
			padding: 0 5px;
		}
	}
}

@media screen and ( max-width: 480px){

	.header{
		.container{
			margin: 0 27px;
		}
		
		&__content{
			padding: 33px 0 33px 0;
		}

		.logo__test{
			display: none;
		}

		&__burger-menu:before{
			content: '\2630';
		//	content: '\2715';
		}

		&__burger-menu{
		//	display: block;
			margin: 0 10px;
			order: 3
		}

		&__burger-menu:hover{
			color: #fff;
		}
		
		&__burger-menu:hover  {
 			 display: flex;
		}
	}

	.menu{
		
		flex-direction: column;
		margin: 0 -20px;
		width: 100%;
		font-weight: 300;


		li:first-child{
			display: block;
		}

		&_item{
			display:flex;
			align-items: center;
			text-align: left;
			padding: 20px 0px;
			width: 100%;
			border-bottom: 1px solid #333;
		}

		&__link{
			color: #fff;
		}

		&__link:hover{
			color: $primary-color;
			border-left: 3px solid $primary-color ;
		}
	}
}	

