@import 'vars.scss';

.header{
	color: $primary-color;
	background-color: $primary-bg-color;	
	
	.container{
		margin: 0 90px;
	}

	&__content{
		padding:  33px 0;
		a:link{
			text-decoration: none;
		}			
	}	

	&__logo{
		display: flex;
		justify-content: center;
		align-items: center; 
	}

	&__flex{
		&-wrapper{
			display: flex;
			justify-content: space-between;
			text-align: center;			
			ul>li> a:hover, h2:hover {
				color: white;
			}
		}
	}

	&__burger-menu{
		flex-shrink: 0;
		margin-left: auto; 
		font-size: 32px;	
	}
}

.menu{
	display: flex;
	font-weight: bold;

	&_item:first-child {
		display: none;
	}

	&_item{
		list-style-type: none; 
	}

	&__link{
		font-family: Montserrat;
		font-size: 16px;
		color: $primary-color;
		padding: 0 24px;
	}
}

.logo{
	&__test{
		margin-left: 30px;
		float: right;
		color: $primary-color;
		font-weight: bold;	
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		font-size: 24px;
	}	

	&__logo{

		&-img{
			float: left;
			background-size: 100%;
			height: 29px;
			width: 29px;		
			background-image: url('../../img/Logo.svg');
			&:hover{
				background-image: url('../../img/LogoHover.png');
			}		
		}
	}
}

@media screen and (max-width: 993px){
	.header{
		height: 140px;

		.container{
			margin: 0 20px; 
			position: relative;			
		}

		&__burger-menu{
			position: absolute;	
			min-width: 570px;
			left: 50%;
			top: 90px;
			transform: translateX(-50%);
		}
	}
}

@media screen and (max-width: 768px){
	.menu{
		&__link{
			padding: 0 10px;
		}
	}
	.header__burger-menu{
		min-width: 470px;
	}
}

@media screen and ( max-width: 480px){
	
	.header__btn{
		position: absolute;
		left: 50%;
		top: 27px;
		transform: translateX(-50%);
	}

	.header{

		height: 103px;

		.container{
			margin: 0 27px;
		}
		
		&__content{
			padding: 33px 0 33px 0;
		}

		.logo__test{
			display: none;
		}

		&__burger-menu{
			min-width: 100%;
			top: 27px;
		
		
			text-align: right;
			
			&:hover{
				cursor: pointer;
				&:before{
					content: '\2715';		
				}
			}

			&:hover > .menu{
				display: block;
			}
		}

		&__burger-menu:before{
			height: 90px;
			content: '\2630';
		}

		&__burger-menu:hover{
			color: #fff;
		}
	}

.menu{
	display: none;
	background-color: $primary-bg-color;
	flex-direction: column;
	width: 100%;
	font-weight: 300;

	li:first-child{
		display: block;
	}

	&_item{
		display:flex;
		align-items: center;
		text-align: left;
		padding: 20px 0;
		width: 100%;
		border-bottom: 1px solid #333;

	}

	&__link{
		color: #fff;
	}

	&__link:hover{
		color: $primary-color;
		border-left: 3px solid $primary-color ;
	}
}
}	

