@import 'vars.scss';

.header{
	color: $primary-color;
	background-color: $primary-bg-color;	

	&__content{
		position: relative;
		margin: 0 90px;
		a:link{
			text-decoration: none;
		}			
	}	

	&__logo{
		display: block;
		position: absolute;
		top: 50%;                       
   		transform: translate(0, -50%);
	}

	&__flex{
		&-wrapper{
			height: 100px;
			display: block;
			
			ul>li> a:hover {
				color: white;
			}
			& > a:hover > h2 {
				color: white;
			}
			& > a:hover > .logo__logo-img {
				background-image: url('../../img/LogoHover.png');
			}
		}
	}

	&__burger{
		
		&-wrapper{
			display: none;
			position: absolute;
			right: 25px;
			top: 50%;
			transform: translate(0,-50%);
		}	

		&-icon{
			display: block;
			width: 26px;
			height: 26px;
			cursor: pointer;
			
			&:hover > span {
				background-color: #fff;
			}
			
			&> span {
				position: absolute;
				background-color: $primary-color;
				height: 3px;
				width: 100%;
				top: 50%;
				transition: 0.6s;
			}

			& .one {
				top: 10%;
				width: 65%;
				left: 100%;
				transform: translate(-100%, 0);			
			}

			& .four {
				top: 90%;
			}

			&.active
			 .one, &.active .four{
				display: none;
			}

			&.active .two{
				transform: rotate(45deg);
			}
 
			&.active .three{
				transform: rotate(-45deg);
			}
		}
	}

	&__btn{
		position: absolute;
		right: 0;
		top: 50%;                       
   		transform: translate(0, -50%);
		text-align: center;			
   		width: 145px;
		padding: 10px; 
		border-radius: 19px;
	}
}

.menu{
	position: absolute;
	display: block;
	min-width: 65%;
	float: left;
	top: 50%;       
	left: 50%;
	margin: 0 auto;                 
   	transform: translate(-50%, -50%);
	font-weight: bold;

	&_item:first-child {
		display: none;
	}

	&_item{
		list-style-type: none; 
		display: inline-block;
		float: none;
	}

	&__link{
		font-size: 16px;
		color: $primary-color;
		padding: 0 24px;
	}
}

.logo{
		display: block;
		float: left;
	&__test{
		margin: 0 0 0 58px;
		text-align: left;
		color: $primary-color;
		font-weight: bold;	
		text-transform: uppercase;
		font-family: $font-lato;
		font-size: 24px;
	}	

	&__logo{

		&-img{
			float: left;
			background-size: 100%;
			height: 29px;
			width: 29px;		
			background-image: url('../../img/Logo.svg');
		}
	}
}


@media screen and (max-width: 1160px){
	.header{
		&__content{
			margin: 0 10px;
		}	
	}
 }

@media screen and (max-width: 993px){
	.header{
		&__logo, &__btn{
			top: 40%;
		}

		&__flex{
			&-wrapper{		
				height: 120px;
			}
		}
	}

	.menu{
		width: 100%;
		top: 100px;
		line-height: 50px; 
		padding-left: 0;

		&__link{
			padding: 0 20px;
		}
	}

}

@media screen and ( max-width: 605px){
	.menu{
		&__link{
			padding: 0 3px;
		}
	}
}	

@media screen and ( max-width: 480px){

	.header{
		position: relative;
			
		.container{
			margin: 0 15px;
		}

		&__content{
			position: static;
		}
		
		&__flex{
			&-wrapper{		
				height: 103px;
			}
		}

		 &__burger-wrapper{
		 	display: block;
		}

		&__logo{
			top: 50%; 
			& > h2{
				margin: 0 0 0 40px;
			}
		}
	
		&__btn{
			right: auto;
			top: 50%;
			left: 50%;
			width: 110px;	
		}
	}



.menu{
	display: none;
	position: absolute;
	top: 75px;
	left: 0;
	transform: translate(0,0);
	background-color: $primary-bg-color;
	width: 100%;
	font-weight: 300;
	z-index: 1000;

	li:first-child{
		display: flex;
	}

	&_item{
		display:flex;
		align-items: center;
		text-align: left;
		padding: 20px 0;
		border-bottom: 1px solid #333;
		cursor: pointer;
	}

	&_item:hover > &__link{
		
		color: $primary-color;
		border-left: 3px solid $primary-color ;	
	}	

	&__link{
		padding: 0 33px;
		color: #fff;
		font-size: 32px;
	}
}


.visible {
	display: block;
}

}	

@media screen and ( max-width: 400px){

	.header{
		&__btn{
			transform: translate(-50%,-50%);
		}
	}	

	.logo{
		&__test{
			display: none;		
		}
	}
}