@import 'vars.scss';

.here{
	background-color: #eeeeef;

	&-content{
		padding-top: 20px;
		position: relative;
		font-family: Montserrat, sans-serif;
	}

	.wrapper{
		margin-top: 30px;
		display: grid;
		grid-template-columns: 2fr 3fr;		
		grid-template-areas:
				'topics title'		
				'topics image'
				'topics image'
				'topics image'
				 ;

				
		&__title{
			grid-area: title;
			margin: 0;
			font-size: 48px;
			color: $primary-color;
			font-weight: 700;
		}

		&__right {
			grid-area: image;
			overflow: hidden;;
		}

	}
}


.topics{
	grid-area: topics;
	display: flex;
	flex-wrap: wrap;
		
	&__topic{
		
		display: flex;
		
		color: $text-color-grey;
		&-title{				
			font-size: 16px;
			color: $text-color-grey;	
		}	
		&-content{			
			font-size: 14px;	
			color: $small-text-color;
		}		
		&-img > div{
			display: block;
			min-width: 111px;
			min-height: 90px;
			background-repeat: no-repeat;
			background-size: contain;								
			background-position: center;		
		}
		&-item{
			margin: 0 30px;
		}				
	}
}

.topic1-img{
	background-image: url("/img/topic1.png");
}

.topic2-img{
	background-image: url("/img/topic2.png");
}

.topic3-img{
	background-image: url("/img/topic3.png");
}

.topic4-img{
	background-image: url("/img/topic4.png");
}

@media screen and(max-width: 993px){
	.here{
		.wrapper{
			grid-template-columns: 1fr;
			grid-template-areas:
				'title'		
				'topics'
				'topics'
				'topics'
				'image'
				 ;

			&__title{
				font-size: 42px;
				text-align: center;
			}

		}
	}

	.topics {
		margin-top: 20px;
	}
}

@media screen and (max-width: 480px){
	.topics{		
		&__topic{
			flex-direction: column;
			&-item{
				margin-top: 20px;
			}
		}
	}	
}

@media screen and (max-width: 400px){
	.here{
		.wrapper{
			&__title{
				font-size: 32px;
			}
		}
	}	
}