@import 'vars.scss';

.here{
	padding: 0 10px;
	background-color: #f4f4f4;

	&-content{
		padding-top: 20px;
		position: relative;
		font-family: Montserrat;
	}

	.wrapper{
	//position: relative;
		display: flex;
		flex-wrap: nowrap;
		flex-basis: 60%;
				
		&__title{
			display: block;
			position: absolute;
			right: 120px;
			margin-left: 25px;
			font-size: 48px;
			color: $primary-color;
			font-weight: 700;
		}

		&__img{	
		//	position: absolute;
			margin-top: 50px; 
			background-repeat: no-repeat;
			background-image: url("/img/editor_.png");
		//	min-height: 381px;
			min-width: 715px; 
			max-width: 975px;
			height: 520px;
		}	
	}
}


.topics{
	display: flex;
	flex-wrap: wrap;
		
	&__topic{
		margin-top: 20px;
		display: flex;
		
		color: #323232;
		&-title{			
			font-size: 16px;
			color: #323232;	
		}	
		&-content{			
			font-size: 14px;	
			color: #848e97;
		}		
		&-img > div{
			display: block;
			min-width: 111px;
			min-height: 90px;
			background-repeat: no-repeat;
			background-size: contain;								
			background-position: center;		
		}
		&-item{
			margin-left: 10px;
		}				
	}
}

.topic1-img{
	background-image: url("/img/topic1.png");
}

.topic2-img{
	background-image: url("/img/topic2.png");
}

.topic3-img{
	background-image: url("/img/topic3.png");
}

.topic4-img{
	background-image: url("/img/topic4.png");
}

@media screen and(max-width: 993px){
	.here{
		.wrapper{
			flex-wrap: wrap;

			&__title{
				position: static;
				right: 0;
				margin-left: 0;
				display: flex;
				justify-content: center;
				font-size: 42px;
				text-align: center;
			}

		}
	}
}

@media screen and (max-width: 768px){
	.here{
		.wrapper{

			&__img{	
				//min-height: 381px;
				//min-width: 515px; 

			}	
		}
	}
}

@media screen and (max-width: 480px){
	.topics{		
		&__topic{
			flex-direction: column;
			&-item{
				margin-top: 20px;
			}
		}
	}	
}