.people{

	padding: 0 10px;
	background: url("/img/People/bgPeople.png") no-repeat top #4a3b4e;
	
	
	&__content{
		//display: block;
		padding-top: 97px;
		color: #fff;
		font-family: Montserrat;	
		text-align: center;

		&-title {
			font-size: 48px;
			font-weight: 600;
		}

		&-footergrid{
			margin:  60px 0 120px 0; 
		}

		&-footer{
			padding: 30px 30px;
			color: #a291a5;
			font-family:  'Lato', sans-serif; 
			font-size: 14px;
			max-width: 850px;
			margin: 0 auto;
		}

		&-line{
			display: block;
			width: 80%;
			height: 2px;
			border: 0;
			border-top: 2px solid #645766;
			margin: 1em auto;
			padding: 0;
		}
	}


}


.grid{
	display: grid;
	grid-column-gap: 125px;
	grid-template-columns: 1fr 1fr 1fr;
  	grid-template-rows: 1fr 1fr;
	
	&__item{
		max-width: 320px;
		margin: 0 auto; 

		&-helper{
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		&-logo{	
			display: inline-block;
			vertical-align: middle;	
			height: 116px;	
			margin: 0 auto;
		}
		&-message{
			
			font-family:  'Lato', sans-serif; 
			font-size: 16px;
			font-style: italic;			
		}
	}
}

.logo-img{
	vertical-align: middle;
}

@media screen and (max-width: 993px){
	.grid{
		grid-template-columns: 1fr 1fr;
  		grid-template-rows: 1fr 1fr 1fr;
  		grid-column-gap: 80px;
	}
}

@media screen and (max-width: 768px){
	.grid{
 		grid-column-gap: 50px;
	}
}


@media screen and (max-width: 481px){

	.people{

		&__content{
			&-grid{
				margin-bottom: 71px; 
			}
		}
	}

	.grid{
		grid-template-columns: 1fr;
  		//grid-template-rows: 1fr 1fr 1fr;

	}
}