@import 'vars.scss';

.pricing{

  	background: url("/dist/img/bgPricing.png") no-repeat top #4a3b4e;
  	
  	&__content{
  		
  		padding: 75px 0;
  		color: #fff;
  		text-align: center;

  		&-title {
  			font-size: 48px;
  			font-weight: 600;
  		}

  		&-grid{
  			display: inline-block;
  			padding: 80px 0 80px 0; 

  		}
  	}
  }

  .gridf{
  	display: grid;
  	grid-column-gap: 11px;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;

    
    
  &__item {
    @include pricing-item();
        &-active {
             @include pricing-item(300px, 
                              560px,
                              rgba(0,0,0,.1),
                              26px,
                              82px,
                              16px,
                              rgba(255,255,255,.1));
    
              margin-top: -15%;
         }
  }
}



@include adaptWhenWidthIs($width993){
 .gridf{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
}

@include adaptWhenWidthIs($width480){
 .people{
  &__content{
   &-title {
    font-size: 42px;
    font-weight: 500;
  }
  &-grid{
    padding: 60px 0 82px 0; 
  }
}
}

.gridf {
  grid-template-columns: 1fr;
  &__item{
   justify-self: center;
   width: 260px;
  &-active{
    margin-top: 0;
  }
 }
}
}

@include adaptWhenWidthIs($width400){
  .pricing{
    &__content{
      &-title{
        font-size: 28px;
      }
    }
  }
}
