@import 'vars.scss';

.revolutionary-editor{

	&__container{
		margin-top: 50px; 
		padding: 70px 0;
	}

	&__content{
		text-align: center;
	}

	&__blocks{ 
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		
		&-block{
			float: left;
			margin: 20px 10px;
		}
	}

	&__title{
		text-transform: uppercase;
		font-weight: 600;
		font-size: 56px;
		color: #635c73;
	}

	&__slogan{
		margin: 35px 0;
		font-family: $font-lato;
		font-size: 21px;
		color: $text-color-grey;
	}

	&-btn{	
		color: #24292e;
		float: left;
		font-size: 11px;
		list-style-type: none;
		padding: 0 15px 0 15px;
		
	}

	&-btn>svg{
		width: 15px;
		height: 15px;	
	}

	&-info{
		border: 1px solid #bbb;
		border-left: none; 
		text-align: center;
		width: 60px;
		height: 17px;
		font-weight: 700;
		font-size: 12px;
	}
}

.btn-label{
	display: block;
	float: right;
	margin: 2px;
	margin-left: 10px; 
	font-weight: 700;
	font-size: 12px;
}

@include adaptWhenWidthIs($width993){
	.revolutionary-editor{
		&__title{
			font-size: 42px;
		}
	}	
}

@include adaptWhenWidthIs($width480){
	.revolutionary-editor{
		&__title{
			font-size: 26px;
		}

		&__slogan{
			font-size: 14px;
		}

		&-info{
			width: 45px;
		}

		&-btn{	
			color: #24292e;
			float: left;
			font-size: 11px;
			list-style-type: none;
			padding: 0 5px 0 5px;
		}
	}
}